[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.115.0"
uvicorn = {extras = ["standard"], version = "~=0.32.0"}
sqlalchemy = "~=2.0.35"
alembic = "~=1.13.3"
psycopg2-binary = "~=2.9.9"
pydantic = "~=2.9.2"
pydantic-settings = "~=2.6.0"
python-dotenv = "~=1.0.1"
python-jose = {extras = ["cryptography"], version = "~=3.3.0"}
python-telegram-bot = "~=21.0"

[dev-packages]
pytest = "~=8.3.3"
httpx = "~=0.27.2"

[requires]
python_version = "3.12"

